@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

*{
    font-family: 'Istok Web', sans-serif;
    zoom: reset;
    box-sizing: border-box;
}

body
{
    background-color: #e8e8e8;
    margin : 0px;
    padding : 0px;
}


.container
{
    display: flex;
    background-color: #88b8ff;
    position: relative;
    align-items: center;
    justify-content: center;
}


li{
    text-align: center; 
    list-style-position: inside;
}

.logo{
    padding: 5px;
    margin: 5px;
    width: 200px;
    height: 200px;
    border-radius: 70%;
    margin-right: auto;
    size : 50%;
}

p{
    font-size: 20px;
    margin-left : 50px; margin-right: 50px;
}

.content-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.content-li {
    margin-right: 10px; /* Espace entre les éléments li */
}

img
{
    border-radius: 10px;
    width: 35%;
    height: 35%;
}

nav
{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding : 20px;
}

nav ul li a{
    
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}


nav ul li.dropdown-parent a {
    position: relative;
}

nav ul li ul.dropdown li {
    display: block;
}

nav ul li ul.dropdown {
    background-color: #ffffff;
    color: #ffffff;
    position: absolute;
    opacity: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    z-index: 999;
}

nav ul li ul.dropdown li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li.dropdown-parent a:hover > ul.sub-dropdown {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

nav ul li ul.dropdown li a:hover {
    color: #b6daff;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #b6daff;
    transition: 0.3s;
}

nav ul li:hover ul.dropdown-parent {
    display: block;
    opacity: 1;
}

nav ul li.dropdown-parent:hover > ul.dropdown {
    display: block;
    opacity: 1;
}

nav ul li.dropdown-parent ul.dropdown {
    background: #ffffff;
    color: #000000;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
    z-index: 1;
}

nav ul li.dropdown-parent ul.dropdown li a {
    color: #000000;
    text-decoration: none;
}

nav ul li.dropdown-parent ul.sub-dropdown {
    background: #ffffff;
    color: #000000;
    position: absolute;
    left: 100%;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

nav ul li.dropdown-parent ul.sub-dropdown li a {
    color: #000000;
    text-decoration: none;
}

nav ul li.dropdown-parent ul.dropdown li:hover > ul.sub-dropdown {
    display: block;
    opacity: 1;
}

nav ul li.dropdown-parent ul.sub-sub-dropdown {
    background: #ffffff;
    color: #000000;
    position: absolute;
    left: 100%;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    z-index: 2; /* Assurez-vous que la sub-sub-dropdown est au-dessus de la sub-dropdown */
}

nav ul li.dropdown-parent ul.sub-sub-dropdown li a {
    color: #000000;
    text-decoration: none;
}

nav ul li.dropdown-parent ul.dropdown li:hover > ul.sub-sub-dropdown {
    display: block;
    opacity: 1;
}

.sticky {
    position: -webkit-sticky;
	position: sticky;
	top: 0;
}
  
.sticky + .content {
padding-top: 30px;
}

.content {
    text-align: center;
    justify-content: center;
    margin-left : 50px; margin-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #d1d1d1;
}

.social-media{
    justify-content: center;
    display: flex;
    list-style-type: none;  
}

footer
{
    background-color: #88b8ff;
    text-align: center;
    padding : 30px;
}

footer p{
    display:block;
    margin : 5px 0;
}
* {
scrollbar-width: auto;
scrollbar-color: #b3b3b3 #ffffff;
}

*::-webkit-scrollbar {
width: 16px;
}

*::-webkit-scrollbar-track {
background: #ffffff;
}

*::-webkit-scrollbar-thumb {
background-color: #b3b3b3;
border-radius: 10px;
border: 3px solid #ffffff;
}